@import url("../layui/css/layui.css");
@import url("swiper.min.css");
html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: #000;
    margin: 0;
    padding: 0;
}


/* 导航 */

.layui-nav {
    z-index: 2;
    top: 0;
    text-align: right;
    width: 100%;
    position: absolute;
    background-color: #00000020;
}


/* 搜索 */

.search {
    top: 25%;
    left: 12%;
    position: absolute;
}

.search .layui-input {
    padding-left: 30px;
    height: 55px;
    width: 420px;
}

.search .layui-btn {
    height: 55px;
    padding: 0 20px;
    font-size: 30px;
    background-color: #5FB878;
}


/* 轮播 */

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    font-size: 24px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-wrapper {
    transition-delay: .3s;
}

.swiper-slide p {
    transform: translateX(-200px);
    opacity: 0;
    transition: all .4s;
}

.ani-slide p {
    transform: translateX(0);
    opacity: 1;
}

.swiper-slide.info {
    background: url(../images/bg4.jpg) no-repeat center center;
    background-size: cover;
}

.swiper-slide.info p {
    text-align: center;
}

.swiper-slide.info .down-arrow {
    font-size: larger;
    color: #aaa;
}

.swiper-slide p {
    bottom: 0;
    padding-bottom: 30px;
    width: 80%;
    position: absolute;
    color: #eee;
}

.swiper-slide p:before,
.swiper-slide p:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -50px;
    left: -50px;
    top: 100%;
    z-index: -1;
    -webkit-box-shadow: 0 0 150px 135px #101010a8;
    -moz-box-shadow: 0 0 150px 135px #101010a8;
    box-shadow: 0 0 150px 135px #101010a8;
}

.swiper-slide.book {
    background: url(../images/bg3.jpg) no-repeat center center;
    background-size: cover;
}

.swiper-slide.author {
    background: url(../images/author.jpg) no-repeat bottom right;
    background-size: cover;
}


/* 修改导航栏的位置和大小 */

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 30px;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 15px 0;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: #393d49ad;
}