/* 引入 layui 前端框架 */

@import url("../layui/css/layui.css");
@import url("./nav.css");

/* 详情页样式 */

html,
body {
    min-height: 100%;
    overflow: overlay;
}

body {
    min-width: 600px;
    background: url(../images/bg.png) no-repeat bottom right;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}


/* 面包屑导航 */

.bread-nav {
    background: #FFF;
}

.bread-nav * {
    font-size: 16px;
}

.bread-nav>div {
    display: block;
    padding: 1.5rem;
}


/* 中草药信息 */

.detail-box .layui-row {
    margin-top: 2rem;
    background: blanchedalmond;
    border-radius: 0.5rem;
    box-shadow: 8px 14px 20px rgba(39, 44, 49, .14), 1px 3px 8px rgba(39, 44, 49, .07);
}

.detail-box .herbal-img {
    padding: 2rem;
    text-align: center;
}

.detail-box .herbal-img img {
    width: 80%;
    border-radius: 100rem;
    transition: all .5s ease;
    box-shadow: 8px 14px 20px rgba(39, 44, 49, .14), 1px 3px 8px rgba(39, 44, 49, .07);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.detail-box .herbal-img img:hover {
    -webkit-transform: translate3D(0, -1px, 0) scale(1.06);
    -moz-transform: translate3D(0, -1px, 0) scale(1.06);
    -ms-transform: translate3D(0, -1px, 0) scale(1.06);
    transform: translate3D(0, -1px, 0) scale(1.06);
}

.detail-box .herbal-text {
    padding: 2rem;
    font-size: 16px;
}

.detail-box .herbal-text p {
    line-height: 1.8rem;
    margin: 0.5rem 0;
}

.detail-box .herbal-text .field {
    font-weight: bold;
}

.detail-box .alter .layui-icon {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    font-size: 32px;
}


/*编辑窗口*/

.edit-box {
    display: none;
    margin-bottom: 3rem;
}

.edit-box form {
    margin-top: 2rem;
    padding-bottom: 2rem;
    background: blanchedalmond;
    border-radius: 0.5rem;
    box-shadow: 8px 14px 20px rgba(39, 44, 49, 0.2), 1px 3px 8px rgba(39, 44, 49, 0.1);
}

.edit-box form h1,
.detail-box h1 {
    font-weight: bold;
    padding-top: 2rem;
    text-align: center;
    margin: 1rem;
}

.edit-box label {
    float: left;
    display: inline-block;
    width: 0px;
    margin: 2.6rem 0rem 0 3rem;
    font-size: 16px;
    font-weight: bold;
}

.edit-box .layui-input-inline {
    width: calc(100% - 8rem);
    margin-right: 10px;
    margin: 1rem auto 0 2rem;
}

.edit-box .layui-upload-drag .layui-icon-upload {
    color: chocolate;
}

.edit-box form .layui-form-item:last-child {
    width: 230px;
    margin: auto;
}

.edit-box form .layui-form-item:last-child .layui-input-block {
    margin: 0;
}

.edit-box form .layui-form-item:last-child button {
    background-color: chocolate;
    margin: 1.5rem;
}

.edit-box .layui-upload-drag {
    width: 350px;
}

.edit-box .layui-upload-drag img {
    width: 100%;
}

.edited-detail .layui-row {
    margin-bottom: 3rem;
}


/* 弹出层 */

body .layui-layer-herbal .layui-layer-btn .layui-layer-btn0 {
    background-color: chocolate;
    border-color: chocolate;
}