/* 引入 layui 前端框架 */

@import url("../layui/css/layui.css");
@import url("./nav.css");

/* 详情页样式 */

html,
body {
    min-height: 100%;
}

body {
    min-width: 600px;
    background: url(../images/bg.png) no-repeat bottom right;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}


/* 面包屑导航 */

.bread-nav {
    background: #FFF;
}

.bread-nav * {
    font-size: 16px;
}

.bread-nav>div {
    display: block;
    padding: 1.5rem;
}


/* 中草药信息 */

.detail-box .herbal-img {
    padding: 2rem;
}

.detail-box .herbal-img img {
    width: 80%;
}


/* 评论框 */

.chat-box {
    display: none;
}