@import url("../layui/css/layui.css");

/* 引入图标 */

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

html,
body {
    min-height: 100%;
}

body {
    position: relative;
}

.nav-box {
    background: saddlebrown;
}

.header {
    padding: 0;
    height: 60px;
    border-bottom: none;
}

.header .index {
    left: 1.5rem;
    position: absolute;
}

a.index {
    color: rgba(255, 255, 255, 0.7);
    font-size: 26px;
    top: 0.6rem;
}

a.index:hover {
    color: rgba(255, 255, 255, 0.9);
}

.layui-nav {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
}


/* 搜索框 */

.header .search {
    position: absolute;
    left: 10rem;
    top: 0.6rem;
    border-radius: 5rem;
    background: rgba(255, 255, 255, 0.15);
}

.header .search .layui-form-item {
    margin: 0;
}

.header .search .layui-form-item input,
.header .search .layui-form-item .submit button {
    background: none;
    border: none;
    outline: none;
}

.header .search .field-select {
    padding-left: 0.5rem;
    width: 6rem;
}

.header .search .field-select input {
    color: rgba(255, 255, 255, 0.7);
}

.header .search .field-select option {
    color: #303541;
}

.header .submit {
    display: inline-block;
}


/* 面包屑导航 */

.bread-nav * {
    font-size: 16px;
}

.bread-nav>span {
    display: block;
    margin: 1.5rem;
}


/* 搜索结果 */

.result-box {
    background: #f4f4f4;
    background: url(../images/bg.png) no-repeat bottom right;
    background-size: cover;
}


/* 搜索汇总 */

.result-summary {
    padding: 1.5rem;
    font-size: 16px;
}

.result-summary>* {
    font-weight: bold;
}