@import url("../layui/css/layui.css");

/* 引入图标 */

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

html,
body {
    min-height: 100%;
}

body {
    position: relative;
    background: url(../images/bg.png) no-repeat bottom right;
    background-size: cover;
}

.nav-box {
    background: saddlebrown;
}

.header {
    padding: 0;
    height: 60px;
    border-bottom: none;
}

.header .index {
    /* left: 1.5rem; */
    position: absolute;
}

a.index {
    color: rgba(255, 255, 255, 0.7);
    font-size: 26px;
    top: 0.6rem;
}

a.index:hover {
    color: rgba(255, 255, 255, 0.9);
}

.layui-nav {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
}


/* 搜索框 */

.header .search {
    position: absolute;
    left: 10rem;
    top: 0.6rem;
    border-radius: 5rem;
    background: rgba(255, 255, 255, 0.15);
}

.header .search .layui-form-item {
    margin: 0;
}

.header .search .layui-form-item input,
.header .search .layui-form-item .submit button {
    background: none;
    border: none;
    outline: none;
}

.header .search .field-select {
    padding-left: 0.5rem;
    width: 6rem;
}

.header .search .field-select input {
    color: rgba(255, 255, 255, 0.7);
}

.header .search .field-select option {
    color: #303541;
}

.header .search .field-select .layui-this {
    background: #e27628;
}

.header .submit {
    display: inline-block;
}


/* 面包屑导航 */

.bread-nav {
    background: #FFF;
}

.bread-nav * {
    font-size: 16px;
}

.bread-nav>div {
    display: block;
    padding: 1.5rem;
}


/* 搜索结果 */


/* 搜索汇总 */

.result-summary {
    padding: 1.5rem;
    font-size: 16px;
}

.result-summary>* {
    font-weight: bold;
}


/* 搜索结果卡片 */

.result-card .card-content {
    margin: 0.8rem;
    border-radius: 0.6rem;
    background: lightsalmon;
    box-shadow: 8px 14px 20px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
}

.result-card .herbal-img {
    padding-top: 2rem;
    text-align: center;
    transition: all .5s ease;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.result-card .herbal-img:hover {
    -webkit-transform: translate3D(0, -1px, 0) scale(1.08);
    transform: translate3D(0, -1px, 0) scale(1.08)
}

.result-card .herbal-img img {
    width: 85%;
    border-radius: 100rem;
}

.result-card h2 {
    padding: 2rem;
    text-align: center;
    color: #FFF;
}