@import url("../layui/css/layui.css");

/* 引入图标 */

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

html,
body {
    min-height: 100%;
}

body {
    min-width: 600px;
    background: url(../images/bg.jpg) no-repeat bottom right;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

.header {
    height: 60px;
    border-bottom: none;
}

.header .index {
    left: 40px;
    position: absolute;
}

a.index {
    color: rgba(255, 255, 255, 0.7);
    font-size: 26px;
    top: 13px;
}

a.index:hover {
    color: rgba(255, 255, 255, 0.9);
}

.header .search {
    position: absolute;
    width: 160px;
    left: 150px;
    top: 16px;
}

.header .search .layui-input {
    height: 30px;
    padding-left: 12px;
    background-color: #424652;
    background-color: rgba(255, 255, 255, .05);
    border: none 0;
    color: #fff;
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
}

.layui-nav {
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: none;
}

.search-type {
    text-align: center !important;
}

.search-type ul>li {
    font-size: 24px;
    margin: auto 30px;
}

.search-box,
.result-box {
    width: 80%;
    min-width: 850px;
    max-width: 1400px;
    margin: auto;
    margin-top: 30px;
    position: relative;
}

legend {
    margin: 0 auto;
}

.search-box legend h3,
.result-box legend h3 {
    /* font-weight: bolder; */
    text-align: center;
    font-size: 22px;
}

.filter-box,
.adv-box,
.result-list {
    width: 90%;
    min-width: 850px;
}

.result-list {
    width: 93%;
}

.filter-box table {
    border-collapse: separate;
    border-spacing: 5px 20px;
}

.filter-box td {
    border: 1px solid #009688;
}

.filter-label {
    width: 120px;
    font-size: 20px;
    background: rgba(0, 150, 136, 0.188);
}

.filter-list {
    margin: 10px 30px 0;
    text-align: left;
}

.result-list,
.adv-box {
    margin: 20px auto;
}

.layui-form-item>.field-select {
    width: 110px;
}

.layui-form-item>.field-text {
    width: 47%;
}

.layui-form-item>.log,
.layui-form-item>.change-num {
    width: 110px;
}

.layui-form-item>.change-num {
    font-size: 32px;
}

.layui-form-item {
    margin-left: 60px;
}

.layui-form-item>.layui-input-inline.prec {
    width: 120px;
}

.adv-button {
    left: -30px;
    margin-left: unset;
}

.adv-button>button {
    margin-top: 20px;
    padding: 0 36px;
    font-size: 18px;
}


/* 翻转卡片 */

.result-item {
    margin: 1rem;
    width: 220px;
    height: 300px;
}

.front,
.back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
}

.front {
    background-size: cover;
    /* padding: 2rem; */
    font-size: 1.618rem;
    overflow: hidden;
}

.front:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
    opacity: .25;
    z-index: -1;
}

.result-card:hover .front {
    transform: rotateY(180deg);
}

.result-card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
}

.back {
    background: pink;
    transform: rotateY(-180deg);
    /* padding: 0 2em; */
}

.result-card:hover .back {
    transform: rotateY(0deg);
}

.result-card:nth-child(even) .back {
    transform: rotateY(180deg);
}

.result-card:nth-child(even):hover .back {
    transform: rotateY(0deg);
}