@import url("../layui/css/layui.css");
@import url("./nav.css");

/* 引入图标 */

html,
body {
    min-height: 100%;
}

body {
    position: relative;
    background: url(../images/bg.png) no-repeat bottom right;
    background-size: cover;
}


/* 面包屑导航 */

.bread-nav {
    background: #FFF;
}

.bread-nav * {
    font-size: 16px;
}

.bread-nav>div {
    display: block;
    padding: 1.5rem;
}


/* 搜索结果 */


/* 搜索汇总 */

.result-summary {
    padding: 1.5rem;
    font-size: 16px;
}

.result-summary>* {
    font-weight: bold;
}


/* 搜索结果卡片 */

.result-card .card-content {
    margin: 0.8rem;
    border-radius: 0.6rem;
    background: lightsalmon;
    transition: all .5s ease;
    box-shadow: 8px 14px 20px rgba(39, 44, 49, .14), 1px 3px 8px rgba(39, 44, 49, .07);
}

.result-card .card-content:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px)
}

.result-card .herbal-img {
    padding-top: 2rem;
    text-align: center;
    transition: all .5s ease;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.result-card .herbal-img img:hover {
    -webkit-transform: translate3D(0, -1px, 0) scale(1.06);
    -moz-transform: translate3D(0, -1px, 0) scale(1.06);
    -ms-transform: translate3D(0, -1px, 0) scale(1.06);
    transform: translate3D(0, -1px, 0) scale(1.06);
}

.result-card .herbal-img img {
    width: 85%;
    border-radius: 100rem;
    transition: all .5s ease;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.result-card h2 {
    padding: 2rem;
    text-align: center;
    color: #FFF;
}